{% extends 'base.html' %}

{% block content %}

<html>
    <head>
        <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
       <h1 id="heading1">Please Log In</h1>
       <img src="https://img.icons8.com/cute-clipart/344/login-rounded-right.png" alt="Login Logo" style="width:100px; height:100px;">
     <div>
         <form action="/new_account" method="post">
             <div class="input-container">
                 <i class="fa fa-envelope icon"></i>
                 <input type="email" placeholder="Email" name="email" class="input-field">
             </div>
             <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input type="password" placeholder="Password" name="password" class="input-field">
               </div>
            <div><input type="submit" class="bttn"></div>
            <a href="/new_account">
                <input type="submit" value="Create account" /> 
            </a>       
        </form>
     </div>
    </body>
</html>

{% endblock %}